{% extends 'base.html.twig' %}

{% block title %}Zaragoza comercio{% endblock %}
{#{% block header %}#}
{#    <div style="height: 3rem; background-color: #9b3838">#}
{#    </div>#}
{#{% endblock %}#}
{% block body %}
    <div class="buscador">
            <div class="container text-center">
                <div class="row">
                <div class="col">
                    <input type="text" id="search-input" placeholder="Buscar comercios">
                    <i class="fas fa-magnifying-glass fa-lg" style="margin-left: 10px; color: #7e868c"></i>
                </div>
                </div>
            </div>
    </div>
    <div class="container" id="search-results"></div>
    <div>

    </div>
{% endblock %}
{% block js %}

    <script>
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');
        let timeout;

        searchInput.addEventListener('input', function () {
            // Borra el temporizador existente si existe
            clearTimeout(timeout);

            // Configura un nuevo temporizador para la búsqueda después de 1 segundo
            timeout = setTimeout(function () {
                const searchTerm = searchInput.value;
                const url = '/buscar?search=' + searchTerm;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Limpiar los resultados anteriores
                        searchResults.innerHTML = '';

                        if (data.length === 0) {
                            // No se encontraron resultados sin acentos, intenta con acentos y en la descripción
                            const searchTermWithAccents = removeAccents(searchTerm);
                            const urlWithAccents = '/buscar?search=' + searchTermWithAccents;

                            fetch(urlWithAccents)
                                .then(response => response.json())
                                .then(dataWithAccents => {
                                    dataWithAccents.forEach(comercio => {
                                        const comercioElement = document.createElement('div');
                                        comercioElement.innerHTML = '<a href="/comercio/' + comercio.id + '">' + comercio.nombre + '</a>';
                                        searchResults.appendChild(comercioElement);
                                    });
                                })
                                .catch(error => {
                                    console.error('Error al buscar con acentos y en la descripción:', error);
                                });

                            // Intenta buscar palabras clave en la descripción
                            const urlWithKeywords = '/buscar?search=' + searchTerm + '&searchInDescripcionKeywords=true';

                            fetch(urlWithKeywords)
                                .then(response => response.json())
                                .then(dataWithKeywords => {
                                    dataWithKeywords.forEach(comercio => {
                                        const comercioElement = document.createElement('div');
                                        comercioElement.innerHTML = '<a href="/comercio/' + comercio.id + '">' + comercio.nombre + '</a>';
                                        searchResults.appendChild(comercioElement);
                                    });
                                })
                                .catch(error => {
                                    console.error('Error al buscar palabras clave en la descripción:', error);
                                });
                        } else {
                            data.forEach(comercio => {
                                const comercioElement = document.createElement('div');
                                comercioElement.innerHTML = '<a href="/comercio/' + comercio.id + '">' + comercio.nombre + '</a>';
                                searchResults.appendChild(comercioElement);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error al buscar:', error);
                    });
            }, 500); // 1000 milisegundos = 1 segundo
        });

        // Función para eliminar acentos y caracteres especiales
        function removeAccents(str) {
            return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
        }
    </script>

{% endblock %}
