{
  "openapi": "3.0.0",
  "info": {
    "title": "Zaragoza comercio",
    "description": "Documentación de la parte API de Zaragoza Comercio pero que otras aplicaciones puedan solicitar los datos y documentación de los endpoint de uso interno de los controladores de la web.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://temp.zaragozacomercio.es/"
    }
  ],
  "tags": [
    {
      "name": "Api",
      "description": "Llamadas de la api publica",
      "externalDocs": {
        "description": "No necesitan token",
        "url": "https://temp.zaragozacomercio.es/api"
      }
    },
    {
      "name": "Admin",
      "description": "Llamadas de uso interno de la web del controlador admin",
      "externalDocs": {
        "description": "Requieren token",
        "url": "https://temp.zaragozacomercio.es/admin"
      }
    },
    {
      "name": "Comercio",
      "description": "Llamadas de uso interno de la web del controlador Comercio Controller",
      "externalDocs": {
        "description": "No necesitan token",
        "url": "https://temp.zaragozacomercio.es/comercio"
      }
    },
    {
      "name": "Foto",
      "description": "Llamadas de uso interno de la web del controlador Foto Controller",
      "externalDocs": {
        "description": "Uso interno de la aplicación",
        "url": "https://temp.zaragozacomercio.es/foto"
      }
    },
    {
      "name": "Inicio",
      "description": "Llamadas de uso interno de la web del controlador Inicio Controller",
      "externalDocs": {
        "description": "No necesitan token",
        "url": "https://temp.zaragozacomercio.es/"
      }
    },
    {
      "name": "Register",
      "description": "Llamadas de uso interno de la web del controlador Register Controller",
      "externalDocs": {
        "description": "No necesitan token",
        "url": "https://temp.zaragozacomercio.es/register"
      }
    },
    {
      "name": "Auth",
      "description": "Llamadas de uso interno de la web del controlador Security Controller",
      "externalDocs": {
        "description": "Llamadas de autentificación",
        "url": "https://temp.zaragozacomercio.es/"
      }
    },
    {
      "name": "Storage",
      "description": "Llamadas de uso interno de la web del controlador storage",
      "externalDocs": {
        "description": "Uso interno de la aplicación",
        "url": "https://temp.zaragozacomercio.es/storage"
      }
    }
  ],
  "paths": {
    "/api/comercios": {
      "get": {
        "tags": [
          "Api"
        ],
        "summary": "Obtener todos los comercios",
        "description": "Endpoint para obtener una lista de todos los comercios disponibles.",
        "responses": {
          "200": {
            "description": "Respuesta exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comercios": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del comercio"
                          },
                          "nombre": {
                            "type": "string",
                            "description": "Nombre del comercio"
                          },
                          "telefono": {
                            "type": "integer",
                            "description": "Número de teléfono del comercio"
                          },
                          "direccion": {
                            "type": "string",
                            "description": "Dirección del comercio"
                          },
                          "email": {
                            "type": "string",
                            "description": "Correo electrónico del comercio"
                          },
                          "estado": {
                            "type": "integer",
                            "description": "Estado del comercio"
                          },
                          "descripcion": {
                            "type": "string",
                            "description": "Descripción del comercio"
                          },
                          "foto": {
                            "type": "string",
                            "description": "url de la foto del comercio"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/comercio/{id}": {
      "get": {
        "tags": [
          "Api"
        ],
        "summary": "Obtener información de un comercio por ID",
        "description": "Endpoint para obtener información detallada de un comercio mediante su ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID del comercio a obtener",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comercio": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID del comercio"
                        },
                        "nombre": {
                          "type": "string",
                          "description": "Nombre del comercio"
                        },
                        "telefono": {
                          "type": "integer",
                          "description": "Número de teléfono del comercio"
                        },
                        "direccion": {
                          "type": "string",
                          "description": "Dirección del comercio"
                        },
                        "email": {
                          "type": "string",
                          "description": "Correo electrónico del comercio"
                        },
                        "estado": {
                          "type": "integer",
                          "description": "Estado del comercio"
                        },
                        "descripcion": {
                          "type": "string",
                          "description": "Descripción del comercio"
                        },
                        "descripcionLarga": {
                          "type": "string",
                          "description": "Descripción larga del comercio"
                        },
                        "cp": {
                          "type": "string",
                          "description": "Código Postal del comercio"
                        }
                      }
                    },
                    "categoria": {
                      "type": "string",
                      "description": "Categoría del comercio"
                    },
                    "horas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del horario"
                          },
                          "comercioId": {
                            "type": "integer",
                            "description": "ID del comercio asociado al horario"
                          },
                          "dia": {
                            "type": "integer",
                            "description": "Día de la semana"
                          },
                          "horaApertura": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Hora de apertura del comercio para ese día"
                          },
                          "horaCierre": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Hora de cierre del comercio para ese día"
                          },
                          "nombreDia": {
                            "type": "string",
                            "description": "Nombre del día de la semana"
                          }
                        }
                      }
                    },
                    "fotos": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Urls de las fotos del comercio"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Acceder al panel de administrador",
        "description": "Endpoint para acceder al panel de administrador.",
        "responses": {
          "200": {
            "description": "Panel de administrador obtenido exitosamente"
          }
        }
      }
    },
    "/admin/comercios": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Obtener comercios para administrador",
        "description": "Endpoint para obtener comercios para administrador.",
        "responses": {
          "200": {
            "description": "Comercios obtenidos exitosamente"
          }
        }
      }
    },
    "/admin/categorias": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Obtener categorías para administrador",
        "description": "Endpoint para obtener categorías para administrador.",
        "responses": {
          "200": {
            "description": "Categorías obtenidas exitosamente"
          }
        }
      }
    },
    "/admin/usuarios": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Obtener usuarios para administrador",
        "description": "Endpoint para obtener usuarios para administrador.",
        "responses": {
          "200": {
            "description": "Usuarios obtenidos exitosamente"
          }
        }
      }
    },
    "/admin/comercio/new": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Crear un nuevo comercio",
        "description": "Endpoint para crear un nuevo comercio.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comercio"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comercio creado exitosamente"
          }
        }
      }
    },
    "/admin/categoria/new": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Crear una nueva categoría",
        "description": "Endpoint para crear una nueva categoría.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Categoria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categoría creada exitosamente"
          }
        }
      }
    },
    "/admin/foto/new": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Subir nueva foto",
        "description": "Endpoint para subir una nueva foto de comercio.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID del comercio"
                  },
                  "authorization": {
                    "type": "string",
                    "description": "Token de autorización"
                  },
                  "image": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Archivo de imagen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Foto subida exitosamente"
          }
        }
      }
    },
    "/admin/horario/new": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Añadir horario",
        "description": "Permite añadir un nuevo horario a un comercio.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "horaApertura": {
                    "type": "string",
                    "format": "time",
                    "description": "Hora de apertura en formato HH:mm"
                  },
                  "horaCierre": {
                    "type": "string",
                    "format": "time",
                    "description": "Hora de cierre en formato HH:mm"
                  },
                  "dia": {
                    "type": "string",
                    "description": "Día de la semana"
                  },
                  "comercio": {
                    "type": "integer",
                    "description": "ID del comercio al que se añadirá el horario"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Horario añadido exitosamente"
          },
          "403": {
            "description": "No tienes permisos para añadir horarios o no se encontró el comercio"
          }
        }
      }
    },
    "/admin/comercio/{id}/edit": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Editar comercio",
        "description": "Permite editar un comercio.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del comercio a editar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "description": "Nombre del comercio"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email del comercio"
                  },
                  "telefono": {
                    "type": "integer",
                    "description": "Número del comercio"
                  },
                  "direccion": {
                    "type": "string",
                    "description": "Direccion del comercio"
                  },
                  "descripcion": {
                    "type": "string",
                    "description": "Descripción del comercio"
                  },
                  "direccionLarga": {
                    "type": "string",
                    "description": "Descripción larga del comercio"
                  },
                  "estado": {
                    "type": "integer",
                    "description": "Estado del comercio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comercio editado exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar este comercio o no se encontró el comercio"
          },
          "404": {
            "description": "No se encontró ningún comercio con este id"
          }
        }
      }
    },
    "/admin/comercio/{id}/edit/cat": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Editar categorías de un comercio",
        "description": "Permite editar las categorías asociadas a un comercio.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del comercio cuyas categorías se van a editar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoria": {
                    "type": "integer",
                    "description": "Id de la categoría del comercio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categorías editadas exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar las categorías de este comercio o no se encontró elcomercio"
          },
          "404": {
            "description": "No se encontró ningún comercio con este id"
          }
        }
      }
    },
    "/admin/categoria/{id}/edit": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Editar categoría",
        "description": "Permite editar una categoría.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la categoría a editar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "description": "Nombre de la categoría"
                  },
                  "icono": {
                    "type": "string",
                    "description": "Icono de la categoría"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categoría editada exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar esta categoría o no se encontró la categoría"
          },
          "404": {
            "description": "No se encontró ninguna categoría con este id"
          }
        }
      }
    },
    "/admin/foto/{id}/destacar": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Destacar foto",
        "description": "Permite destacar una foto de un comercio.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la foto a destacar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destacada": {
                    "type": "boolean",
                    "description": "Foto destacada del comercio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Foto destacada exitosamente"
          },
          "403": {
            "description": "No tienes permisos para destacar esta foto o no se encontró la foto"
          },
          "404": {
            "description": "No se encontró ninguna foto con este id"
          }
        }
      }
    },
    "/admin/usuario/{id}/edit": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Editar un usuario",
        "description": "Endpoint para editar un usuario.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID del usuario"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "description": "Nombre del usuario"
                  },
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico del usuario"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Roles del usuario"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña hasheada del usuario"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usuario editado exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar este usuario o no se encontró el usuario"
          },
          "404": {
            "description": "No se encontró ningún usuario con este id"
          }
        }
      }
    },
    "/admin/comercio/{id}/delete": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Eliminar un comercio",
        "description": "Endpoint para eliminar un comercio.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID del comercio"
          }
        ],
        "responses": {
          "200": {
            "description": "Comercio eliminado exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar este comercio o no se encontró el comercio"
          },
          "404": {
            "description": "No se encontró ningún comercio con este id"
          }
        }
      }
    },
    "/admin/categoria/{id}/delete": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Eliminar una categoría",
        "description": "Endpoint para eliminar una categoría.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID de la categoría"
          }
        ],
        "responses": {
          "200": {
            "description": "Categoría eliminada exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar esta categoría o no se encontró la categoría"
          },
          "404": {
            "description": "No se encontró ninguna categoría con este id"
          }
        }
      }
    },
    "/admin/usuario/{id}/delete": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Eliminar un usuario",
        "description": "Endpoint para eliminar un usuario.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID del usuario"
          }
        ],
        "responses": {
          "200": {
            "description": "Usuario eliminado exitosamente"
          },
          "403": {
            "description": "No tienes permisos para editar este usuario o no se encontró el usuario"
          },
          "404": {
            "description": "No se encontró ningún usuario con este id"
          }
        }
      }
    },
    "/admin/foto/{id}/delete": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Eliminar foto",
        "description": "Endpoint para eliminar una foto de comercio.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID de la foto"
          }
        ],
        "responses": {
          "200": {
            "description": "Foto eliminada exitosamente"
          },
          "403": {
            "description": "No tienes permisos para destacar esta foto o no se encontró la foto"
          },
          "404": {
            "description": "No se encontró ninguna foto con este id"
          }
        }
      }
    },
    "/admin/comercio/{id}/horario/{horario_id}/delete": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Eliminar horario",
        "description": "Permite eliminar un horario de un comercio.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del comercio al que pertenece el horario",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "horario_id",
            "in": "path",
            "description": "ID del horario a eliminar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Horario eliminado exitosamente"
          },
          "403": {
            "description": "No tienes permisos para borrar horarios o no se encontró el horario"
          }
        }
      }
    },
    "/comercio": {
      "get": {
        "tags": [
          "Comercio"
        ],
        "summary": "Obtener todos los comercios",
        "description": "Endpoint para obtener todos los comercios.",
        "responses": {
          "200": {
            "description": "Comercios obtenidos exitosamente"
          }
        }
      }
    },
    "/comercio/{id}": {
      "get": {
        "tags": [
          "Comercio"
        ],
        "summary": "Obtener detalles de un comercio",
        "description": "Endpoint para obtener detalles de un comercio específico.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID del comercio"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalles del comercio obtenidos exitosamente"
          }
        }
      }
    },
    "/foto": {
      "get": {
        "tags": [
          "Foto"
        ],
        "summary": "Página de fotos de un comercio",
        "description": "Endpoint para obtener la página de fotos.",
        "responses": {
          "200": {
            "description": "Página de fotos obtenida exitosamente"
          }
        }
      }
    },
    "/foto/{id}": {
      "get": {
        "tags": [
          "Foto"
        ],
        "summary": "Mostrar foto",
        "description": "Endpoint para mostrar una foto de comercio específica.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID de la foto"
          }
        ],
        "responses": {
          "200": {
            "description": "Foto obtenida exitosamente"
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Inicio"
        ],
        "summary": "Página de inicio",
        "description": "Endpoint para obtener la página de inicio.",
        "responses": {
          "200": {
            "description": "Página de inicio obtenida exitosamente"
          }
        }
      }
    },
    "/buscar": {
      "get": {
        "tags": [
          "Inicio"
        ],
        "summary": "Buscar comercios",
        "description": "Endpoint para buscar comercios por término de búsqueda.",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Término de búsqueda"
          }
        ],
        "responses": {
          "200": {
            "description": "Comercios encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID del comercio"
                      },
                      "nombre": {
                        "type": "string",
                        "description": "Nombre del comercio"
                      },
                      "descripcion": {
                        "type": "string",
                        "description": "Descripción del comercio"
                      },
                      "foto": {
                        "type": "string",
                        "description": "URL de la foto del comercio"
                      },
                      "categoria": {
                        "type": "string",
                        "description": "Nombre de la categoría del comercio"
                      },
                      "estado": {
                        "type": "integer",
                        "description": "Estado del comercio"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categoria/{id}": {
      "get": {
        "tags": [
          "Inicio"
        ],
        "summary": "Mostrar comercios por categoría",
        "description": "Endpoint para mostrar los comercios de una categoría específica.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID de la categoría"
          }
        ],
        "responses": {
          "200": {
            "description": "Comercios de la categoría obtenidos exitosamente"
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Registrar usuario",
        "description": "Endpoint para registrar un nuevo usuario.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usuario registrado exitosamente"
          }
        }
      }
    },
    "/register/admin": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Registrar administrador",
        "description": "Endpoint para registrar un nuevo usuario siendo administrador.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Administrador registrado exitosamente"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "description": "Endpoint para iniciar sesión de usuario.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Nombre de usuario"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sesión iniciada exitosamente",
            "headers": {
              "Set-Cookie": {
                "description": "Cookie de sesión JWT",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Cerrar sesión",
        "description": "Endpoint para cerrar sesión de usuario.",
        "responses": {
          "200": {
            "description": "Sesión cerrada exitosamente"
          }
        }
      }
    },
    "/storage/thumb/{comercio_id}/{filename}": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Obtener una miniatura de archivo",
        "description": "Endpoint para obtener una miniatura de archivo, es de uso interno de la aplicación.",
        "parameters": [
          {
            "in": "path",
            "name": "comercio_id",
            "required": true,
            "description": "ID del comercio",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "filename",
            "required": true,
            "description": "Nombre del archivo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/storage/{comercio_id}/{filename}": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Obtener un archivo",
        "description": "Endpoint para obtener un archivo almacenado, es de uso interno de la aplicación.",
        "parameters": [
          {
            "in": "path",
            "name": "comercio_id",
            "required": true,
            "description": "ID del comercio",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "filename",
            "required": true,
            "description": "Nombre del archivo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "JWT": []
    }
  ],
  "components": {
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RegistrationForm": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Nombre de usuario"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico"
          },
          "password": {
            "type": "string",
            "description": "Contraseña"
          }
        },
        "required": [
          "username",
          "email",
          "password"
        ]
      },
      "Comercio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID del comercio"
          },
          "nombre": {
            "type": "string",
            "description": "Nombre del comercio"
          },
          "descripcion": {
            "type": "string",
            "description": "Descripción breve del comercio"
          },
          "direccion": {
            "type": "string",
            "description": "Dirección del comercio"
          },
          "telefono": {
            "type": "integer",
            "description": "Número de teléfono del comercio"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico del comercio"
          },
          "estado": {
            "type": "integer",
            "description": "Estado del comercio"
          },
          "usuario": {
            "$ref": "#/components/schemas/Usuario",
            "description": "Usuario asociado al comercio"
          },
          "horarios": {
            "type": "array",
            "description": "Lista de horarios del comercio",
            "items": {
              "$ref": "#/components/schemas/Horario"
            }
          },
          "fotos": {
            "type": "array",
            "description": "Lista de fotos del comercio",
            "items": {
              "$ref": "#/components/schemas/Foto"
            }
          },
          "categorias": {
            "type": "array",
            "description": "Lista de categorías del comercio",
            "items": {
              "$ref": "#/components/schemas/Categoria"
            }
          },
          "descripcionLarga": {
            "type": "string",
            "description": "Descripción larga del comercio"
          },
          "cp": {
            "type": "string",
            "description": "Código postal del comercio"
          }
        }
      },
      "Categoria": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID de la categoría"
          },
          "nombre": {
            "type": "string",
            "description": "Nombre de la categoría"
          },
          "icono": {
            "type": "string",
            "description": "Nombre del icono asociado a la categoría"
          },
          "comercios": {
            "type": "array",
            "description": "Lista de comercios asociados a esta categoría",
            "items": {
              "$ref": "#/components/schemas/Comercio"
            }
          }
        }
      },
      "Usuario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID del usuario"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico del usuario"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Roles del usuario"
          },
          "password": {
            "type": "string",
            "description": "Contraseña hasheada del usuario"
          },
          "nombre": {
            "type": "string",
            "description": "Nombre del usuario"
          },
          "envio": {
            "type": "boolean",
            "description": "Indicador de envío del usuario"
          },
          "comercios": {
            "type": "array",
            "description": "Lista de comercios asociados al usuario",
            "items": {
              "$ref": "#/components/schemas/Comercio"
            }
          }
        }
      },
      "Horario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID del horario"
          },
          "horaApertura": {
            "type": "string",
            "format": "time",
            "description": "Hora de apertura del comercio"
          },
          "horaCierre": {
            "type": "string",
            "format": "time",
            "description": "Hora de cierre del comercio"
          },
          "dia": {
            "type": "integer",
            "format": "int16",
            "description": "Día de la semana (0 = Domingo, 1 = Lunes, ..., 6 = Sábado)"
          },
          "comercio": {
            "$ref": "#/components/schemas/Comercio",
            "description": "Comercio asociado al horario"
          }
        }
      },
      "Foto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID de la foto"
          },
          "archivo": {
            "type": "string",
            "description": "Nombre del archivo de la foto"
          },
          "comercio": {
            "$ref": "#/components/schemas/Comercio",
            "description": "Comercio asociado a la foto"
          },
          "destacada": {
            "type": "boolean",
            "description": "Indica si la foto está destacada o no"
          }
        }
      }
    }
  }
}