{% extends 'base.html.twig' %}

{% block title %}Comercios{% endblock %}

{% block body %}
{% for comercio in comercios %}
    <p><a href="/comercio/{{ comercio.id }}">{{ comercio.nombre }} {{ comercio.usuario }}</a></p>
    {% endfor %}
{% endblock %}
