{#<form method="post" action="{{ path('comercio_delete', {'id': comercio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comercio.id) }}">#}
{#    <button type="button" class="btn"><i class="fas fa-trash-can fa-2x" style="color: #B0413E" ></i></button>#}
{#</form>#}

