{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="mt-5"></div>
    <div class="row vw-100 mt-5 justify-content-center align-items-center">

        <div class="col-lg-6 text-center">
            <h1>Administrar comercios y categorías</h1>
        </div>

        <table class="table bg-white">
            <thead class="bg-light">
            <tr>
                <th></th>
                <th class="text-start">Entidad</th>
                <th class="text-end">Acciones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>
                    <div>
                        <p class="text-muted mb-0">Comercios</p>
                    </div>
                </td>
                <td class="text-end">
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        <a href="/admin/comercios"><i class="fa-regular fa-eye fa-2x"></i></a>
                    </button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        <a href="/admin/comercio/new"><i class="fa-regular fa-square-plus fa-2x green"></i></a>
                    </button>
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <div>
                        <p class="text-muted mb-0">Categorias</p>
                    </div>
                </td>
                <td class="text-end">
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        <a href="/admin/categorias"><i class="fa-regular fa-eye fa-2x"></i></a>
                    </button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        <a href="/admin/categoria/new"><i class="fa-regular fa-square-plus fa-2x green"></i></a>
                    </button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
