{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="col-lg-6 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Administrar comercios</h1>

    <ul class="mt-5">
        <li>Your controller at <code><a href="/admin/comercios">ver comercios</a></code></li>
    </ul>
    <ul>
        <li>Your controller at <code><a href="/admin/comercio/new">crear comercios</a></code></li>
    </ul>

</div>

{% endblock %}
