{% extends 'base.html.twig' %}

{% block title %}Error {{ codigo }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 mt-5">
                <h1 class="text-center">Error {{ codigo }}</h1>
                <p class="text-center">{{ mensaje }}</p>
                <img src="{{ asset(imagen) }}" alt="error img" style="width: 400px">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
{% endblock %}